@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  font-size: .8em;
  font-weight: 400;
  margin: 0; }

* {
  margin: 0;
  padding: 0; }

a,
a:visited {
  color: #ccc;
  text-decoration: none; }

.sel a,
.sel a:visited {
  color: #000; }

a:hover {
  color: #fff; }

h1,
h2,
p {
  color: #000; }

h2 {
  padding-top: 60px;
  font-weight: 400; }

ul {
  list-style: none; }

#icons {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center; }
  @media screen and (max-width: 768px) {
    #icons {
      flex-direction: column; } }
  #icons .icon {
    background-color: SlateGray;
    -webkit-flex: 1 5em;
    /* Safari 6.1+ */
    -ms-flex: 1 5em;
    /* IE 10 */
    flex: 1 5em;
    width: 5em;
    font-size: 2em;
    padding: 2em;
    border-radius: 5px;
    margin: .5em;
    line-height: 3em;
    font-weight: bold;
    text-decoration: none; }
    @media screen and (max-width: 768px) {
      #icons .icon {
        -webkit-flex: 1 0;
        /* Safari 6.1+ */
        -ms-flex: 1 0;
        /* IE 10 */
        flex: 1 0;
        line-height: .5em;
        width: 100%;
        padding: 1.5em 0;
        margin: .25em 0; } }
  #icons .icon:hover {
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: LightGray;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  #icons a,
  #icons #icons a:visited {
    color: LightGray; }
  #icons a:hover {
    color: #000; }

.level {
  text-align: center; }

#menu {
  top: -60px; }

#menu,
#menu2 {
  position: fixed;
  width: 100%;
  left: 0;
  color: #ccc; }
  #menu .container,
  #menu2 .container {
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    overflow: hidden; }
  #menu .container-slot,
  #menu2 .container-slot {
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    @media screen and (max-width: 768px) {
      #menu .container-slot,
      #menu2 .container-slot {
        overflow: auto;
        overflow-x: hidden; } }

.slot-title {
  color: #f1f1f1;
  position: relative;
  margin: auto;
  text-align: center; }
  .slot-title a, .slot-title.page-sel {
    display: block;
    line-height: 60px;
    font-weight: 400; }
  .slot-title.page-sel {
    color: #000;
    background: LightGray; }

#top {
  height: auto;
  background: LightGray;
  padding: 1em; }

.one,
.two,
.three,
.four {
  min-height: calc(100vh + 200px);
  max-height: 1000px; }

.one,
.sel:nth-child(2) {
  background: Olive; }

.two,
.sel:nth-child(3) {
  background: Orange; }

.three,
.sel:nth-child(4) {
  background: Red; }

.four,
.sel:nth-child(5) {
  background: Purple; }

#footer {
  position: fixed;
  height: 100px;
  width: 100%;
  left: 0;
  color: #fff;
  padding: 1rem 0; }
  #footer h3:hover {
    cursor: pointer; }

#menu,
#footer {
  background: #000;
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1); }

#menu2 {
  background: black;
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1); }
  #menu2 h3 {
    font-size: 3em; }
  #menu2 .container-slot .slot-title a {
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    -ms-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
    color: white;
    border-right: 1px solid #242424; }
  #menu2:hover .container-slot:nth-child(1) .slot-title a {
    color: #00eaff; }
    #menu2:hover .container-slot:nth-child(1) .slot-title a:hover {
      background-color: #242424; }
  #menu2:hover .container-slot:nth-child(2) .slot-title a {
    color: #2b00ff; }
    #menu2:hover .container-slot:nth-child(2) .slot-title a:hover {
      background-color: #242424; }
  #menu2:hover .container-slot:nth-child(3) .slot-title a {
    color: #ff00bf; }
    #menu2:hover .container-slot:nth-child(3) .slot-title a:hover {
      background-color: #242424; }
  #menu2:hover .container-slot:nth-child(4) .slot-title a {
    color: #ff5500; }
    #menu2:hover .container-slot:nth-child(4) .slot-title a:hover {
      background-color: #242424; }
  #menu2:hover .container-slot:nth-child(5) .slot-title a {
    color: #95ff00; }
    #menu2:hover .container-slot:nth-child(5) .slot-title a:hover {
      background-color: #242424; }

.up {
  top: calc(100vh - 110px); }

.middle {
  top: calc(100vh - 50px); }

.down {
  top: calc(100vh); }

#social {
  width: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  overflow: hidden; }
  #social div {
    line-height: 75px;
    font-size: 2em;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    text-align: center; }
    #social div span {
      font-family: 'Roboto', sans-serif;
      text-rendering: optimizeLegibility !important;
      font-size: .5em;
      font-weight: 300;
      vertical-align: middle;
      padding: 1em;
      color: LightGray; }
      @media screen and (max-width: 768px) {
        #social div span {
          display: none; } }

/*# sourceMappingURL=style.css.map */
