@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
body {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility !important;
  font-size: .8em;
  font-weight: 400; }

* {
  margin: 0;
  padding: 0; }

p, li {
  font-size: 1.5em;
  line-height: 1.7em;
  padding-bottom: 1em; }
  @media only screen and (max-width: 768px) {
    p, li {
      font-size: 1.3em;
      line-height: 1.6em; } }

ul {
  padding: 0 1em;
  font-style: italic; }

a,
a:visited {
  color: #ccc;
  text-decoration: none; }

a:hover {
  color: #fff; }

h1 {
  font-size: 2.5em; }

ul {
  list-style: none; }

.cursive {
  font-family: 'Pacifico', cursive;
  font-weight: 300 !important; }

#top {
  height: auto;
  background: LightGray;
  padding: 90px 1em 1em; }
  #top .cursive {
    color: #070707;
    margin-left: .5em; }
  #top label {
    margin-left: 1em; }
  @media only screen and (max-width: 768px) {
    #top .cursive, #top label {
      margin-left: 0; } }

#icons {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-flow: row wrap; }
  @media only screen and (max-width: 768px) {
    #icons {
      flex-direction: column; } }
  #icons .icon {
    background-color: #c6c6c6;
    -webkit-flex: 1 5em;
    /* Safari 6.1+ */
    -ms-flex: 1 5em;
    /* IE 10 */
    flex: 1 5em;
    width: 5em;
    height: 100px;
    font-size: 1.5em;
    text-align: center;
    border-radius: 5px;
    margin: .5em;
    line-height: 3em;
    font-weight: bold;
    text-decoration: none;
    padding: 2em; }
    @media only screen and (max-width: 1024px) {
      #icons .icon {
        padding: 1em; } }
    @media only screen and (max-width: 768px) {
      #icons .icon {
        -webkit-flex: 1 0;
        /* Safari 6.1+ */
        -ms-flex: 1 0;
        /* IE 10 */
        flex: 1 0;
        line-height: .5em;
        width: auto;
        margin: .25em 0; } }
  #icons .icon:hover {
    -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  #icons a, #icons #icons a:visited {
    color: LightGray; }
  #icons a:hover {
    color: #000; }

#menu {
  top: -60px; }

#menu,
#menu2 {
  height: 60px;
  position: fixed;
  width: 100%;
  left: 0;
  color: #ccc; }
  #menu .container,
  #menu2 .container {
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    justify-content: space-around;
    align-content: center; }
  #menu .container-slot,
  #menu2 .container-slot {
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; }
    @media only screen and (max-width: 768px) {
      #menu .container-slot,
      #menu2 .container-slot {
        overflow: auto;
        overflow-x: hidden; } }

.slot-title {
  position: relative;
  margin: auto;
  text-align: center; }
  .slot-title a, .slot-title.page-sel {
    display: block;
    line-height: 60px;
    font-weight: 400; }
  .slot-title.page-sel {
    color: #000;
    background: LightGray; }

#panels {
  pointer-events: none; }

.level2,
.level3,
.level4,
.level5 {
  height: auto;
  padding: 2em; }
  @media only screen and (max-width: 1024px) {
    .level2,
    .level3,
    .level4,
    .level5 {
      padding: 1em; } }
  .level2.level,
  .level3.level,
  .level4.level,
  .level5.level {
    margin: 0;
    text-align: left;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    justify-content: space-around;
    align-content: center; }
    @media only screen and (max-width: 1024px) {
      .level2.level,
      .level3.level,
      .level4.level,
      .level5.level {
        flex-direction: column;
        padding-top: 70px; } }
    .level2.level .textarea,
    .level3.level .textarea,
    .level4.level .textarea,
    .level5.level .textarea {
      margin-top: 60px;
      max-width: 768px;
      -webkit-flex: 2;
      /* Safari 6.1+ */
      -ms-flex: 2;
      /* IE 10 */
      flex: 2;
      padding: 2em; }
      @media only screen and (max-width: 1024px) {
        .level2.level .textarea,
        .level3.level .textarea,
        .level4.level .textarea,
        .level5.level .textarea {
          padding: 1em; } }
      @media only screen and (max-width: 1024px) {
        .level2.level .textarea,
        .level3.level .textarea,
        .level4.level .textarea,
        .level5.level .textarea {
          order: 2;
          margin-top: 0; } }
    .level2.level .animarea,
    .level3.level .animarea,
    .level4.level .animarea,
    .level5.level .animarea {
      margin-top: 60px;
      -webkit-flex: 1;
      /* Safari 6.1+ */
      -ms-flex: 1;
      /* IE 10 */
      flex: 1; }
      @media only screen and (max-width: 1024px) {
        .level2.level .animarea,
        .level3.level .animarea,
        .level4.level .animarea,
        .level5.level .animarea {
          height: 200px;
          order: 1;
          margin-top: 0; } }

.level2,
.sel:nth-child(2) {
  background: Olive; }
  .level2 .animarea,
  .sel:nth-child(2) .animarea {
    background-color: #676700; }

.level3,
.sel:nth-child(3) {
  background: Indigo; }
  .level3 .animarea,
  .sel:nth-child(3) .animarea {
    background-color: #3c0069; }

.level4,
.sel:nth-child(4) {
  background: FireBrick; }
  .level4 .animarea,
  .sel:nth-child(4) .animarea {
    background-color: #9d1e1e; }

.level5,
.sel:nth-child(5) {
  background: Teal; }
  .level5 .animarea,
  .sel:nth-child(5) .animarea {
    background-color: #006767; }

#footer {
  position: fixed;
  left: 0;
  height: 250px;
  width: 100%;
  color: #fff;
  padding: 1.3em 2em;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: space-around;
  align-content: center; }
  #footer .container {
    max-width: 750px;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1; }
  #footer .slot-title {
    font-size: 1.2em;
    font-weight: 100; }
    #footer .slot-title:hover {
      cursor: pointer; }
    @media only screen and (max-width: 1024px) {
      #footer .slot-title {
        text-align: left;
        font-weight: 100;
        font-size: 1.3em; } }
  @media only screen and (max-width: 1024px) {
    #footer {
      width: auto; }
      #footer .container {
        max-width: auto; }
      #footer p {
        font-size: 1.1em;
        line-height: 1.3em; } }

#menu,
#footer {
  background: #000;
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1); }

#menu2 {
  background: black;
  -webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1); }
  #menu2 h3 {
    font-size: 2.4em; }
  #menu2 .container-slot .slot-title a {
    -webkit-transition: color 300ms ease;
    -moz-transition: color 300ms ease;
    -ms-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
    color: white;
    border-right: 1px solid #242424; }
  #menu2:hover .container-slot:nth-child(1) .slot-title a {
    color: #00eaff; }
    #menu2:hover .container-slot:nth-child(1) .slot-title a:hover {
      background-color: #242424; }
  #menu2:hover .container-slot:nth-child(2) .slot-title a {
    color: #2b00ff; }
    #menu2:hover .container-slot:nth-child(2) .slot-title a:hover {
      background-color: #242424; }
  #menu2:hover .container-slot:nth-child(3) .slot-title a {
    color: #ff00bf; }
    #menu2:hover .container-slot:nth-child(3) .slot-title a:hover {
      background-color: #242424; }
  #menu2:hover .container-slot:nth-child(4) .slot-title a {
    color: #ff5500; }
    #menu2:hover .container-slot:nth-child(4) .slot-title a:hover {
      background-color: #242424; }
  #menu2:hover .container-slot:nth-child(5) .slot-title a {
    color: #95ff00; }
    #menu2:hover .container-slot:nth-child(5) .slot-title a:hover {
      background-color: #242424; }

.up {
  top: calc(100vh - 250px); }
  @media only screen and (max-width: 1024px) {
    .up {
      top: calc(100vh - 150px); } }
  @media only screen and (max-width: 768px) {
    .up {
      top: calc(100vh - 250px); } }

.middle {
  top: calc(100vh - 50px); }

.down {
  top: calc(100vh); }

/*# sourceMappingURL=style.css.map */
