@import 'mixins';


/* --- LANDSCAPE --- */

svg {
  fill: #000;
}

#BG, #start path, #stop path, #LsideCOLOR {
  fill: #462d7d;
  animation: hues 20s infinite;
}

#LsideCOLOR {
  animation-direction: reverse;
}

@keyframes hues {
  0% { fill: #462d7d; }
  15% { fill: #7d2d50; }
  30% { fill: #7d2d2d; }
  45% { fill: #7d6e2d; }
  60% { fill: #4a7d2d; }
  75% { fill: #2d7d70; }
  90% { fill: #2d407d; }
}

/* ---------- */

#start, #stop { cursor: pointer!important; }


#yall g#rightDude {
  transform: translateX(-600px);
  transition: all 400ms ease-out;
  transition-delay: 0;
}

#yall g#leftDude {
  transform: translateX(600px);
  transition: all 400ms ease-out;
  transition-delay: 0s;
}


#yall.start g#rightDude, #yall.start g#leftDude {
  transform: translateX(0);
  transition: all 800ms cubic-bezier(0.68, -0.55, .27, 1.55);
  transition-delay: 1s;

}

/* -- SMALLER NOWS --- */

#moodmoveL, #moodmoveR {
  transform: translateY(500px);
  transition: all 500ms cubic-bezier(0.68, -0.55, .27, 1.55);
  transition-delay: 0s;
}

#yall #moodmoveR path, #yall #moodmoveL path {
  animation: justgoing 1.9s infinite cubic-bezier(0.68, -0.55, .27, 1.55);
  animation-direction: alternate-reverse;
}
#yall #moodmoveR path {
  animation-direction: alternate;
}

#yall.start #moodmoveR, #yall.start #moodmoveL {
  transform: translateY(0);
  transition: all 800ms cubic-bezier(0.68, -0.55, .27, 1.55);
  transition-delay: 1s;
}

@keyframes justgoing {
  0% { transform: translateY(20px); }
  100% { transform: translateY(-20px); }
}

/* --- THUNDER --- */

#yall #THUNDER, #yall #shredded, #yall #LsideCOLOR {
  opacity: 0;
  transition: all 500ms cubic-bezier(0.68, -0.55, .27, 1.55);
  transition-delay: .4s;
}

#yall.start #THUNDER, #yall.start #shredded, #yall.start #LsideCOLOR {
  opacity: 1;
  transition-delay: 1s;
}

/* -- GROUP --- */

@for $tr from 3 through 7 {
  $dr: $tr * 80;

  #dude#{$tr} {
    transform: translateY(0) translateX(0);
    transition: all 1s cubic-bezier(0.68, -0.55, .27, 1.55);
    transition-delay: $dr+ms;
  }

  #yall.start #dude#{$tr} {
    transform: translateY(0px) translateX(-1000px);
    transition-delay: $dr+ms;
  }
}

@for $tl from 6 through 11 {
  $dl: $tl * 80;

  #dude#{$tl} {
    transform: translateY(0) translateX(0);
    transition: all 1s cubic-bezier(0.68, -0.55, .27, 1.55);
    transition-delay: $dl+ms;
  }

  #yall.start #dude#{$tl} {
    transform: translateY(0px) translateX(1000px);
    transition-delay: $dl+ms;
    
  }
}

/* -- BLINKAGE -- */

@for $i from 3 through 11 {
  .bod {
    animation: glow 72ms infinite;
    animation-fill-mode: alternate;
  }

  #head#{$i}, #back#{$i} {
    animation: wobble $i*666ms infinite;
    animation-fill-mode: alternate;
  }

  #eyed#{$i}, #eyedLeft .pupil, #eyedRight .pupil {
    animation: blink123 $i*666ms infinite;
    animation-delay: $i*333ms;
    animation-fill-mode: both;
  }

  #eyed#{$i} > path:last-child {
    $cd: $i*66;
    $nc: adjust-hue(lime, $cd);
    fill: $nc;
    animation: abyss $i*666ms infinite;
  }

  #head#{$i} .bod {
    transform: scale(.8);
  }
}

@keyframes glow {
  0%, 100% { fill-opacity: .15; }
  50% { fill-opacity: .25; }
}

@keyframes wobble {
  0%, 100% { transform: rotate(6deg); }
  50% { transform: rotate(-6deg); }
}

@keyframes abyss {
  0%, 100% { transform: scale(.6); }
  15% { transform: scale(.4); }
  35% { transform: scale(1.2); }
  38% { transform: scale(1.1); }
  40% { transform: scale(1.3); }
  68% { transform: scale(1.1); }
  70% { transform: scale(.8); }
  85% { transform: scale(.5); }
  90% { transform: scale(.6); }
}

@keyframes blink123 {
  0%, 100% { transform: scaleY(1.3); }
  28% { transform: scaleY(1.1); }
  30% { transform: scaleY(.1); }
  32% { transform: scaleY(1.1); }
  38% { transform: scaleY(.1); }
  50% { transform: scaleY(1.1); }
  90% { transform: scaleY(1.3); }
}
  

/* -- END GROUP -- */

#NOWlarge path {
  animation: floatLG 500ms infinite linear;
  animation-direction: alternate-reverse;
}
#yall #NOWlarge {
  transform: translateY(-50px) scale(1);
  opacity: 1;
  transition: all 400ms ease-out;
  animation-direction: alternate;
  transition-delay: 1s;
}
#yall.start #NOWlarge {
  transform: translateY(0) scale(.5);
  opacity: 0;
  transition: all 1000ms ease-out;
  transition-delay: .3s;
}

#anohterNOW {
  transform: rotate(5deg); 
}

@keyframes floatLG {
  0% { transform: rotate(2deg); }
  100% { transform: rotate(-2deg); }
}


#sharedsensesocial, #shredded { display: none; }