@import 'mixins';

/*  length 12731 */

#path4, #path5, #path7, #path9, #path10 {
  stroke-dasharray: 2500;
  stroke-dashoffset: -2900;
  stroke-dashoffset: 1800;
  stroke-linejoin: round;
  stroke-linecap: round;
  animation: out 3s infinite linear;
  animation-direction: reverse;
}

@keyframes out {
  0% { stroke-dashoffset: -2900; }
  100% { stroke-dashoffset: 1800; }
}

#path3, #path1 {
  stroke-dasharray: 2000;
  stroke-dashoffset: -3200;
  stroke-dashoffset: 1000; 
  stroke-linejoin: round;
  stroke-linecap: round;
  animation: out2 3.5s infinite linear;
  animation-direction: reverse;
}

@keyframes out2 {
  0% { stroke-dashoffset: -3200; }
  100% { stroke-dashoffset: 1000; }
}

/* --- wow 23097 */

#path6, #path8 {
  stroke-dasharray: 2200;
  stroke-dashoffset: -3400;
  stroke-dashoffset: 700;
  stroke-linejoin: round;
  stroke-linecap: round;
  animation: oy 3s infinite linear;
}

@keyframes oy {
  0% { stroke-dashoffset: -3400; }
  100% { stroke-dashoffset: 700; }
}



/* whatever 17259 */

#path2, #path11 {
  stroke-dasharray: 2200;
  stroke-dashoffset: -1340;
  stroke-linejoin: round;
  stroke-linecap: round;
  animation: out3 4s infinite linear;
}

@keyframes out3 {
  0% { stroke-dashoffset: -1340; }
  100% { stroke-dashoffset: 7100; }
}