$uicolor: #000;
$uifontcolor: #ccc;
$uifonthover: #fff;
$svgcolor: #2d2d2d;

$panel-colors: (
  color1: LightGray,
  color2: Olive,
  color3: Indigo,
  color4: FireBrick,
  color5: Teal
);

$color0: SlateGray;
$color1: map-get($panel-colors, color1);

$menuH: 60px;
$footerH: 250px;