$uicolor: #000;
$uifontcolor: #ccc;
$uifonthover: #fff;

$panel-colors: (
  color1: LightGray,
  color2: Olive,
  color3: Indigo,
  color4: FireBrick,
  color5: Teal
);

$menuH: 60px;
$footerH: 250px;