@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/functions';

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility!important;
  font-size: .8em;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

p, li {
  font-size: 1.5em;
  line-height: 1.8em;
  padding-bottom: 1em;
}

ul {
  padding: 0 1em;
  font-style: italic;
}

a,
a:visited {
  color: $uifontcolor;
  text-decoration: none;
}

.sel a,
.sel a:visited {
  //color: $uicolor;
}

a:hover {
  color: $uifonthover;
}

h1 {
  font-size: 2.5em
}

ul {
  list-style: none
}

.cursive {
  font-family: 'Pacifico', cursive;
  font-weight: 300 !important;
}

.small {
  font-size: 1em;
}

#top {
  height: auto;
  background: color(color1);
  padding: 90px 1em 1em;

  .cursive {
    color: darken(color(color1), 80);
    margin-left: .5em;
  }

  label { margin-left: 1em }

  @include device-lg {
    .cursive, label { margin-left: 0 }
  }

}

#icons {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;

  @include device-lg {
    flex-direction: column;
  }
  
  .icon {
    background-color: $color0;
    @include flex(1 5em);
    width: 5em;
    height: 100px;
    font-size: 1em;
    padding: 2em;
    border-radius: 5px;
    margin: .5em;
    line-height: 3em;
    font-weight: bold;
    text-decoration: none;
    
    @include device-lg {
      @include flex(1 0);
      line-height: .5em;
      width: 100%;
      padding: 1.5em 0;
      margin: .25em 0;
    }
    
  }

  .icon:hover {
    @include transition(all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000));
    background-color: map-get($panel-colors, 1);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }
  
  a,
  #icons a:visited {
    color: color(color1)
  }
  a:hover {
    color: $uicolor
  }
}

#menu {
  top: -$menuH
}

#menu,
#menu2 {
  height: $menuH;
  position: fixed;
  width: 100%;
  left: 0;
  color: $uifontcolor;
  
  .container {
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */
    display: flex;
    overflow: hidden;
  }

  .container-slot {
    @include flex(1);
    @include transition(all 500ms ease);

    @include device-lg {
      overflow: auto;
      overflow-x: hidden;
    }
  }
}

.slot-title {
  position: relative;
  margin: auto;
  text-align: center;

  a,
  &.page-sel {
    display: block;
    line-height: $menuH;
    font-weight: 400;
    // @include device-lg {
    //  line-height: 2em;
    // }
    
  }
  
  &.page-sel {
    color: $uicolor;
    background: color(color1);
  }
}

.level2,
.level3,
.level4,
.level5 {
  min-height: calc(100vh + 200px);
  max-height: 1000px;
  padding: 2em;

  &.level {
    margin: 0;
    text-align: left;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

    @include device-lg-xl {
      flex-direction: column;
    }

    .textarea {
      margin-top: $menuH;
      padding: 2em;
      max-width: 768px;
      @include flex(2);
      @include device-lg-xl {
        order: 2;
      }
    }

    .animarea {
      margin-top: $menuH;
      @include flex(1);
      @include device-lg-xl {
        order: 1;
      }
    }
  }
}

@for $i from 2 through 5 {
  .level#{$i},
  .sel:nth-child(#{$i}) {
    background: color(color#{$i});
    .animarea {
      background-color: darken(color(color#{$i}), 5);
    }
  }
}

#footer {
  position: fixed;
  height: $footerH;
  width: 100%;
  left: 0;
  color: $uifonthover;
  padding: 1rem 0;
  
  h3:hover {
    cursor: pointer;
  }
}

#menu,
#footer {
  background: $uicolor;
  @include transition(all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000));
}

#menu2 {
  background: black;
  h3 { font-size: 2.4em; }
  @include transition(all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000));

  .container-slot .slot-title a {
    @include transition(color 300ms ease);
    color: white;
    border-right: 1px solid lighten(black, 14deg);
  }

  &:hover {
    @for $i from 1 through 5 {
      .container-slot:nth-child(#{$i}) .slot-title a {
        $colordeg: $i * 65;
        $newcolor: adjust-hue(lime, $colordeg);
        color: $newcolor;

        &:hover {
          background-color: lighten(black, 14deg);
        } 
      }
    }
  }
}

.up {
  top: calc(100vh - 110px);
}

.middle {
  top: calc(100vh - 50px)
}

.down {
  top: calc(100vh)
}

#panels {
  pointer-events: none;
}

#social {
  width: 100%;
  margin: 0 auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  overflow: hidden;
  // @include device-lg {
  //  flex-direction: column;
  // }
  div {
    line-height: $footerH - 25;
    font-size: 2em;
    @include flex(1);
    text-align: center;
  
    span {
      font-family: 'Roboto', sans-serif;
      text-rendering: optimizeLegibility!important;
      font-size: .5em;
      font-weight: 300;
      vertical-align: middle;
      padding: 1em;
      color: color(color1);
      @include device-lg {
        display: none;
      }
    }
  }
}